<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>メディア</title>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css"
          href="../styles/css/main.css">
</head>
<body>

<header class="menu-bar">
    <ul class="topnav">
        <li><h1 class="site-logo">SATWEB</h1></li>
        <li class="right">
            <div class="hamburger">三</div>
        </li>
    </ul>
</header>
<div class="side-menu overlay"></div>

<div id="media-container">

    <div id="media-what-is-this-service" class="ui header media">
        <h1>何のサービス？</h1>
        <p>
            わたしは、日々あなたを悩ませているストレスの元凶を突き止めて、その悩みを軽減するためのカウンセリングサービスです。
        </p>
        <p>
            しかし本当にカウンセリングを行うのは、わたしではありません。カウンセリングを行うのは、あなた自身です。
        </p>
        <p>
            セルフカウンセリングによって、自身の中で芽生えるストレスを感じ取り、そして認知します。
        </p>
        <p>
            その手助けをするのが、わたしの役割です。
        </p>
        <p>
            わたしはSAT療法、他にも情動認知行動療法とよばれる心理カウンセリング手法をつかってあなたをサポートします。
        </p>
        <p>
            あなたがあなたの悩みをなくしたいと思う前向きな気持ちがあれば、きっとSAT療法はあなたの役に立つはずです。
        </p>
        <p>
            いっしょに、悩みのない健やかな日々を取り戻しましょう。
        </p>

    </div>

    <div id="media-what-can-i-do" class="ui header media">
        <h1>何ができるの？？</h1>
        <p>
            なんらかの心理障害を感じている人はその原因がどこにあるのか、一体自分中で何が起こっているのかわからないという混乱状態に陥っていることが多いのです。
        </p>
        <p>
            そんな人のための心理療法として、いくつかの方法が現代では開発されています。
        </p>
        <p>
            その中のひとつに、SAT療法というものがあります。
        </p>
        <p>
            これは「情動認知行動療法」と呼ばれる手法で、「情動」を刺激することがカンタンにストレスを軽減することができるのです。
        </p>
        <p>
            SAT療法のメソッドのひとつに「光イメージ法」というものがあります。
        </p>
        <p>
            わたしは主に、この「光イメージ法」をあなたが実践するサポートをいたします。
        </p>
    </div>
    <div id="media-what-can-not-i-do" class="ui header media">
        <h1>何ができないの？？</h1>
        <p>
            しかし、残念なことにSAT療法にも限界があります。
        </p>
        <p>
            心理療法の効き目には個人差がとても大きくあります。
        </p>
        <p>
            自分自身と向き合い、自分のあり方を見つめ直したいというモチベーションを明確に持っている人には効果が現れやすいものです。
        </p>
        <p>
            また、わたしはほんとうのセラピストではありません。あなたが自分自身の悩みと向き合うサポーターでしかないのです。
        </p>
        <p>
            そういった理由から、わたしが援助するSAT療法は絶対的に病気を直す特効薬ではないのです。
        </p>
        <p>
            これらを踏まえた上で、SAT療法を試してみたい方はぜひ、わたしの手を取ってください。
        </p>

        <div class="btn-next">手を取る</div>
    </div>

</div>
</body>
</html>