<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>何ができるの？ - SatCare</title>
    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css"
          href="../styles/css/main.css">

</head>
<body>

<div class="ui right sidebar inverted vertical menu">
    <a class="item" href="dashboard.html">
        ホーム
    </a>
    <div class="header item">ナビゲーション
        <a class="item" href="navigation-light-image-method.html">
            光イメージ法
        </a>
        <a class="item" href="navigation-stress-scored-method.html">
            ストレス点数化法
        </a>
    </div>
    <div class="header item">もっと知る
        <a class="item" href="media-introduction.html#what-is-satcare">SatCareについて？</a>
        <a class="item" href="media-introduction.html#what-is-sat">SAT療法について</a>
        <a class="item" href="media-introduction.html#what-is-light-image-method">光イメージ法について</a>
    </div>
</div>

<div class="pusher">
    <header class="menu-bar">
        <ul class="topnav">
            <li><h1 class="site-logo">SatCare</h1></li>
            <li class="right">
                <div id="btn-hamburger" class="hamburger"><i class="bars icon"></i></div>
            </li>
        </ul>
    </header>

    <div id="media-container" class="ui stackable grid">
        <div id="media-what-can-i-do" class="media ui container">
            <h1 class="ui header">何ができるの？？</h1>
            <p class="p1 ui center aligned  container">
                なんらかの心理障害を感じている人はその原因がどこにあるのか、一体自分中で何が起こっているのかわからないという混乱状態に陥っていることが多いのです。
            </p>
            <p class="p1 ui center aligned  container">
                そんな人のための心理療法として、いくつかの方法が現代では開発されています。
            </p>
            <p class="p1 ui center aligned  container">
                その中のひとつに、SAT療法というものがあります。
            </p>
            <p class="p1 ui center aligned  container">
                これは「情動認知行動療法」と呼ばれる手法で、「情動」を刺激することがカンタンにストレスを軽減することができるのです。
            </p>
            <p class="p1 ui center aligned  container">
                SAT療法のメソッドのひとつに「光イメージ法」というものがあります。
            </p>
            <p class="p1 ui center aligned  container">
                わたしは主に、この「光イメージ法」をあなたが実践するサポートをいたします。
            </p>
        </div>
        <div id="media-what-can-not-i-do" class="ui header media">
            <h1>何ができないの？？</h1>
            <p class="p1 ui center aligned  container">
                しかし、残念なことにSAT療法にも限界があります。
            </p>
            <p class="p1 ui center aligned  container">
                心理療法の効き目には個人差がとても大きくあります。
            </p>
            <p class="p1 ui center aligned  container">
                自分自身と向き合い、自分のあり方を見つめ直したいというモチベーションを明確に持っている人には効果が現れやすいものです。
            </p>
            <p class="p1 ui center aligned  container">
                また、わたしはほんとうのセラピストではありません。あなたが自分自身の悩みと向き合うサポーターでしかないのです。
            </p>
            <p class="p1 ui center aligned  container">
                そういった理由から、わたしが援助するSAT療法は絶対的に病気を直す特効薬ではないのです。
            </p>
            <p class="p1 ui center aligned  container">
                そのことだけは、念頭においてくださいますようお願いいたします。
            </p>

            <div class="btn-container ui center aligned">
                <a class="btn-next huge ui button" href="media-what-is-sat-method.html">SAT療法ってナニ？</a>
            </div>
        </div>

    </div>

</div>
</body>

<!-- Custom -->
<script src="../scripts/interaction.js"></script>

</html>