<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>メディア</title>
    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css"
          href="../styles/css/main.css">

</head>
<body>

<div class="ui right sidebar inverted vertical menu">
    <a class="item" href="dashboard.html">
        ダッシュボード
    </a>
    <a class="item" href="navigation-light-image-method.html">
        光イメージ法ナビゲーション
    </a>
    <a class="item" href="navigation-stress-scored-method.html">
        ストレス点数化法ナビゲーション
    </a>
    <a class="item" disabled="disabled">
        メディア
    </a>
</div>

<header class="menu-bar pusher">
    <ul class="topnav">
        <li><h1 class="site-logo">SATWEB</h1></li>
        <li class="right">
            <div id="btn-hamburger" class="hamburger"><i class="bars icon"></i></div>
        </li>
    </ul>
</header>

<div id="media-container" class="pusher ui stackable grid">
    <div id="media-who-am-i" class="media ui container">
        <h1 class="ui header">何のサービス？</h1>
        <p class="p1 ui center aligned  container">
            わたしは<br>日々あなたを悩ませている <br>心理的な障害の元凶を突き止めて<br>その悩みを軽減するための <br>カウンセリングサービスです。
        </p>
        <p class="p1 ui center aligned  container">
            心理的な障害はその大半が、ストレスが原因です。<br>本人が気づいているものはもちろん<br>まだ気づいていないストレスも <br>あなたを悩ませているのです。
        </p>
        <p class="p1 ui center aligned  container">
            これらは悪くなると、<br>重度の心理障害や身体障害に成長してしまいます。
        </p>
        <p class="p1 ui center aligned  container">
            それを防ぐためには、<br>日々のストレスに対する向き合い方をすこしだけ、<br>変えてあげればいいのです。
        </p>
        <p class="p1 ui center aligned  container">
            しかし、本当にカウンセリングを行うのは、<br>わたしではありません。<br>行うのは、あなた自身です。
        </p>
        <p class="p1 ui center aligned  container">
            セルフカウンセリングによって、<br>自身の中で抱えているストレスを感じ取り、<br>そして認知します。
        </p>
        <p class="p1 ui center aligned  container">
            その手助けをするのが、わたしの役割です。
        </p>
        <p class="p1 ui center aligned  container">
            少しだけ、戸惑ってしまいましたか？ <br>大丈夫です、そのためのカウンセリング手法があります。
        </p>
        <p class="p1 ui center aligned  container">
            SAT療法、他にも情動認知行動療法とよばれる <br>心理カウンセリング手法が、わたしがお伝えする手法です。
        </p>
        <p class="p1 ui center aligned  container">
            悩みをなくしたいと思う前向きな気持ちがあれば、<br>きっとSAT療法はあなたの役に立つはずです。
        </p>
        <p class="p1 ui center aligned  container">
            いっしょに、<br>悩みのない健やかな日々を手に入れましょう。
        </p>

        <div class="btn-container ui center aligned">
            <a class="btn-next huge ui button " href="media-what-can-i-do.html">何ができるの？</a>
        </div>
    </div>
</div>

</body>

<!-- Custom -->
<script src="../scripts/interaction.js"></script>

</html>