<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>何のサービス？ - SatCare</title>
    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css"
          href="../styles/css/main.css">

</head>
<body>

<div class="ui right sidebar inverted vertical menu">
    <a class="item" href="dashboard.html">
        ホーム
    </a>
    <div class="header item">ナビゲーション
        <a class="item" href="navigation-light-image-method.html">
            光イメージ法
        </a>
        <a class="item" href="navigation-stress-scored-method.html">
            ストレス点数化法
        </a>
    </div>
    <div class="header item">もっと知る
        <a class="item">なんのサービス？</a>
        <a class="item">SAT療法って？</a>
        <a class="item">光イメージ法って？</a>
    </div>
</div>

<div class="pusher">
    <header class="menu-bar">
        <ul class="topnav">
            <li><h1 class="site-logo">SatCare</h1></li>
            <li class="right">
                <div id="btn-hamburger" class="hamburger"><i class="bars icon"></i></div>
            </li>
        </ul>
    </header>

    <div id="media-introduction" class="ui container">
        <div id="top-message">
            <div id="top-message-text">今度こそきちんと<br>ストレス <br>減らしませんか</div>
        </div>

        <div id="how-about-stress-management">
            <div id="how-about-stress-management-header">
                ストレスマネジメント、成功していますか？
            </div>
            <div id="how-about-stress-management-text">
                従来のストレスマネジメント手法では「理性」に強くたよっているため、思考に行動が伴わず、うまくいかないことがあります。
            </div>
        </div>
        <div id="what-is-satcare">
            <div id="what-is-satcare-header">
                SatCareについて
            </div>
            <div id="what-is-satcare-text">
                SAT療法という一風変わった心理療法により、あなたのストレスマネジメントを成功させます。
                「理性」に先立つ「情動」をつかって行動を改善しようとするため、とても簡単にストレスマネジメントを行うことができます。
            </div>
        </div>

        <div id="what-user-do">
            <div id="what-user-do-header">
                簡単な3つのステップ
            </div>
            <div id="what-user-do-text">
                SAT療法のステップはとってもシンプル。以下の３つのステップを気の向いた時に実践するだけです。
            </div>
            <div id="what-user-do-step" class="ui ordered steps">
                <div class="step">
                    <i class="clipboard icon"></i>
                    <div class="content">
                        <div class="title">ストレスを知る</div>
                        <div class="description">「ストレス点数化法」という手法で
                            <br>あなたが感じているストレスの原因を探ります</div>
                    </div>
                </div>
                <div class="step">
                    <i class="heart outline icon"></i>
                    <div class="content">
                        <div class="title">光イメージ法をつかう</div>
                        <div class="description">「光イメージ法」という手法で
                            <br>ストレスを身体違和感に変換し
                            <br>そしてそれを消してしまいます。
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="podcast icon"></i>
                    <div class="content">
                        <div class="title">ストレスへの耐性を高める</div>
                        <div class="description">身体良好感に満ち足りる中で
                            <br>あなた自身の本当の性格を見つめ
                            <br>ストレスに対する向き合い方をみつけます。
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="lets-do">
            <div id="lets-do-header">
                さっそく、実践してみましょう。
            </div>

            <div class="btn-container ui center aligned">
                <a class="btn-next huge ui button " href="media-what-can-i-do.html">実践してみる</a>
            </div>

        </div>

        <div id="what-is-sat">
            <div id="what-is-sat-header">
                SAT療法についてもっと知る
            </div>
            <div id="what-is-sat-text">
                筑波大学名誉教授の宗像恒次博士によって開発された心理療法です。
                その名前の由来にもあるように、SATとはStructured - 構造化された方法を使って、Association - ひらめきや直感、連想という右脳活動を促し「情動」に刺激をあたえ、Technique - ストレスマネジメントを成功させる技法ということなのです。
                ストレスによって生じる身体違和感を、様々な手法で身体良好感へと還元することで、ストレスに対するレジリエンス力(回復力)を高めることができます。
            </div>
        </div>
        <div id="what-is-light-image-method">
            <div id="what-is-light-image-method-header">
                光イメージ法について
            </div>
            <div id="what-is-light-image-method-text">
                SAT療法が提供する手法の一つが、「光イメージ法」です。
                この手法は、あなたが持っている具体的なストレス源を「色」（黒色、茶色、紫色、）と「形」（トゲトゲする、もやもやする、ゴツゴツする）が違和感の現れる身体の場所という、「身体違和感」に置き換え、その身体違和感を「身体良好感」に変化させることで、情動を刺激し、ストレスに対する回復力（レジリエンス力）を高めることができます。
            </div>
        </div>
    </div>
</div>
</body>

<!-- Custom -->
<script src="../scripts/interaction.js"></script>

</html>