<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>光イメージ法 - SatCare</title>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css"
          href="../styles/css/main.css">
</head>
<body>


<div class="ui right sidebar inverted vertical menu">
    <a class="item" href="dashboard.html">
        ホーム
    </a>
    <div class="header item">ナビゲーション
        <a class="item" href="navigation-light-image-method.html">
            光イメージ法
        </a>
        <a class="item" href="navigation-stress-scored-method.html">
            ストレス点数化法
        </a>
    </div>
    <div class="header item">もっと知る
        <a class="item">なんのサービス？</a>
        <a class="item">SAT療法って？</a>
        <a class="item">光イメージ法って？</a>
    </div>
</div>

<div class="pusher">
    <header class="menu-bar">
        <ul class="topnav">
            <li><h1 class="site-logo">SatCare</h1></li>
            <li class="right">
                <div id="btn-hamburger" class="hamburger"><i class="bars icon"></i></div>
            </li>
        </ul>
    </header>

    <div id="main-visual">
        <div id="main-visual-light-image-method" class="ui container">
            <div id="main-visual-text" class="ui header">光イメージ法</div>
        </div>
    </div>

    <div id="light-image-method-container">
        <div id="q1" class="ui text container question-card">
            <div class="ui centered question">
                1.
                <br>あなたのストレスは何ですか？
            </div>
            <div id="lim-what-kind-of-stress" class="ui form answer">
                <div class="field">
                    <textarea rows="2"></textarea>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q2">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q2" class="ui text container question-card">
            <div class="ui  centered question">
                2.
                <br>それを色で表すとなんですか？
            </div>
            <div id="lim-what-color" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">目を閉じて想像してみてください。</div>
                <div class="menu">
                    <div class="item" data-value="赤色">
                        <i class="red circle icon"></i>
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        赤色
                    </div>
                    <div class="item" data-value="茶色">
                        <i class="brown circle icon"></i>
                        茶色
                    </div>
                    <div class="item" data-value="黒色">
                        <i class="black circle icon"></i>
                        黒色
                    </div>
                    <div class="item" data-value="灰色">
                        <i class="grey circle icon"></i>
                        灰色
                    </div>
                    <div class="item" data-value="紫色">
                        <i class="purple circle icon"></i>
                        紫色
                    </div>
                    <div class="item" data-value="紺色">
                        <i class="orange circle icon"></i>
                        紺色
                    </div>
                    <div class="item" data-value="青色">
                        <i class="blue circle icon"></i>
                        青色
                    </div>
                    <div class="item" data-value="その他">
                        <i class="circle outline icon"></i>
                        その他
                    </div>
                </div>
            </div>

            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q3">
                <i class="chevron down icon"></i>
            </a>
        </div>


        <div id="q3" class="ui text container question-card">
            <div class="ui centered question">
                3.
                <br>それを形で表すとなんですか？
            </div>

            <div id="lim-what-shape" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">目を閉じて想像してみてください。</div>
                <div class="menu">
                    <div class="item" data-value="ドロドロ">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        ドロドロ
                    </div>
                    <div class="item" data-value="ファファ">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        ファファ
                    </div>
                    <div class="item" data-value="トゲトゲ">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        トゲトゲ
                    </div>
                    <div class="item" data-value="ゴツゴツ">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        ゴツゴツ
                    </div>
                    <div class="item" data-value="球">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">-->
                        球
                    </div>
                    <div class="item" data-value="四角">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">-->
                        四角
                    </div>
                    <div class="item" data-value="平">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        平ら
                    </div>
                    <div class="item" data-value="その他">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        その他
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q4">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q4" class="ui text container question-card">
            <div class="ui  centered question">
                4.
                <br><span id="lim-selected-color"> nil </span>という色と、
                <br><span id="lim-selected-shape"> nil </span>という形をみていると、
                <br>どのような身体違和感が、どの箇所に生じますか？
                <br>ひらめきでお答えください。
            </div>
            <div id="lim-which-body-place" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">どのような箇所に？</div>
                <div class="menu">
                    <div class="item" data-value="頭">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        頭
                    </div>
                    <div class="item" data-value="顔">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        顔
                    </div>
                    <div class="item" data-value="喉">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        喉
                    </div>
                    <div class="item" data-value="首">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        首
                    </div>
                    <div class="item" data-value="肩">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">-->
                        肩
                    </div>
                    <div class="item" data-value="背中">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">-->
                        背中
                    </div>
                    <div class="item" data-value="腰">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        腰
                    </div>
                    <div class="item" data-value="胸">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        胸
                    </div>
                    <div class="item" data-value="お腹">
                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">
                        お腹
                    </div>
                    <div class="item" data-value="腕">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        腕
                    </div>
                    <div class="item" data-value="手足">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        手足
                    </div>
                    <div class="item" data-value="全身">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        全身
                    </div>
                    <div class="item" data-value="その他">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        その他
                    </div>
                </div>
            </div>
            <div class="block center-text">に、</div>
            <div id="lim-what-feeling" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">どのような身体違和感？</div>
                <div class="menu">
                    <div class="item" data-value="重い">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        重い
                    </div>
                    <div class="item" data-value="ギュッとなる">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        ギュッとなる
                    </div>
                    <div class="item" data-value="ドキドキ">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        ドキドキ
                    </div>
                    <div class="item" data-value="張る">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        張る
                    </div>
                    <div class="item" data-value="その他">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        その他
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q5">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q5" class="ui text container question-card">
            <div class="ui  centered question">
                5.
                <br>その身体違和感のストレス度は主観的にどのくらいですか？
                <br>ひらめきでお答えください。
            </div>
            <div class="ui form answer">
                <div class="fields">
                    <div class="inline field">
                        <textarea rows="1" placeholder="0 ~ 10０%"></textarea>
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q6">
                <i class="chevron down icon"></i>
            </a>
        </div>


        <div id="q6" class="ui text container question-card">
            <div class="ui  centered question">
                6.
                <br>その身体違和感は、どのような色の光で守られると、
                <br>癒されると思いますか?
                <br>ひらめきでお答えください。
            </div>
            <div id="lim-what-color-to-cure" class="ui multiple selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">複数回答(可)</div>
                <div class="menu">
                    <div class="item" data-value="クリーム色">
                        <i class="yellow circle icon"></i>
                        クリーム色
                    </div>
                    <div class="item" data-value="白色">
                        <i class="circle outline icon"></i>
                        白色
                    </div>
                    <div class="item" data-value="グリーン色">
                        <i class="green circle icon"></i>
                        グリーン色
                    </div>
                    <div class="item" data-value="オレンジ色">
                        <i class="orange circle icon"></i>
                        オレンジ色
                    </div>
                    <div class="item" data-value="ピンク色">
                        <i class="pink circle icon"></i>
                        ピンク色
                    </div>
                    <div class="item" data-value="スカイブルー色">
                        <i class="teal circle icon"></i>
                        スカイブルー色
                    </div>
                    <div class="item" data-value="黄色">
                        <i class="yellow circle icon"></i>
                        黄色
                    </div>
                    <div class="item" data-value="黄金色">
                        <i class="orange circle icon"></i>
                        黄金色
                    </div>
                    <div class="item" data-value="その他">
                        <i class="grey circle icon"></i>
                        その他
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q7">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q7" class="ui text container question-card">
            <div class="ui  centered question">
                7.
                <br>その場所がその光で守られているイメージを思い浮かべ、
                <br>ストレス度が０％になるように、
                <br>身体違和感を消してください。
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q8">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q8" class="ui text container question-card">
            <div class="ui  centered question">
                8.
                <br>ストレス度は０％になりましたか？
                <br>
                <br>まだ残っている場合には、
                <br>６に戻りもう一度おこなってみてください。
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q9">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q9" class="ui text container question-card">
            <div class="ui  centered question">
                9.
                <br>ストレス度が０%になると、
                <br>あなたの性格はどのように変化しますか？
            </div>
            <div id="lim-what-your-personality" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">ひらめきでお答えください。</div>
                <div class="menu">
                    <div class="item" data-value="穏やか">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        穏やか
                    </div>
                    <div class="item" data-value="冷静">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        冷静
                    </div>
                    <div class="item" data-value="おおらか">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        おおらか
                    </div>
                    <div class="item" data-value="気にしない">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        気にしない
                    </div>
                    <div class="item" data-value="明るい">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        明るい
                    </div>
                    <div class="item" data-value="自信がある">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        自信がある
                    </div>
                    <div class="item" data-value="素直">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        素直
                    </div>
                    <div class="item" data-value="やさしい">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        やさしい
                    </div>
                    <div class="item" data-value="寛容">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        寛容
                    </div>
                    <div class="item" data-value="その他">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        その他
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q10">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q10" class="ui text container question-card">
            <div class="ui  centered question">
                10.
                <br>そのような性格に変化したあなたなら、
                <br>最初に挙げたストレス
                <div class="ui form filled-answer">
                    <div class="field">
                        <textarea id="lim-selected-stress" rows="2" disabled></textarea>
                    </div>
                </div>
                に対してどのような行動で対処しますか？
                <br>ひらめきでお答えください。
            </div>
            <div class="ui form answer">
                <div class="field bordered">
                    <textarea id="lim-what-your-action" cols="30" rows="2" placeholder="(例: 相手と冷静に話し合う)"></textarea>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q11">
                <i class="chevron down icon"></i>
            </a>
        </div>


        <div id="q11" class="ui text container question-card">
            <div class="ui  centered question">
                11.
                <br>そのように行動したあと、
                <br>どのような結果が予想されますか？
                <br>ひらめきでお答えください。
            </div>
            <div class="ui form answer">
                <div class="field bordered">
                    <textarea id="what-your-result" cols="30" rows="2" placeholder="(例: 上手くいくなど)"></textarea>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q12">
                <i class="chevron down icon"></i>
            </a>
        </div>


        <div id="q12" class="ui text container question-card">
            <div class="ui  centered question">
                12.
                <br>今のあなたは、 最初に挙げたストレス
                <div class="ui form filled-answer">
                    <div class="field">
                        <textarea id="lim-selected-stress-2" rows="2" disabled></textarea>
                    </div>
                </div>
                に対して
                <br>どのように感じるようになりますか？
            </div>
            <div id="lim-what-your-feeling-with-stress" class="ui selection dropdown answer">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">ひらめきでお答えください。</div>
                <div class="menu">
                    <div class="item" data-value="気にならない">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        気にならない
                    </div>
                    <div class="item" data-value="そんなこともあった">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        そんなこともあった
                    </div>
                    <div class="item" data-value="安心した">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        安心した
                    </div>
                    <div class="item" data-value="なるようになる">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        なるようになる
                    </div>
                    <div class="item" data-value="どうでもいいと思った">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        どうでもいいと思った
                    </div>
                    <div class="item" data-value="あったかくなった">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
                        あったかくなった
                    </div>
                    <div class="item" data-value="愉しくなった">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
                        愉しくなった
                    </div>
                    <div class="item" data-value="勇気づけられた">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
                        勇気づけられた
                    </div>
                    <div class="item" data-value="その他">
                        <!--                        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">-->
                        その他
                    </div>
                </div>
            </div>
            <a tabindex="-1" class="big ui gray basic button btn-down js-smooth-scroll" href="#q13">
                <i class="chevron down icon"></i>
            </a>
        </div>

        <div id="q13" class="ui text container question-card">
            <div class="ui  centered question">
                お疲れさまでした。
                <br>光イメージ法はこれでおわりです。
                <br>
                <br>はじめに感じていたストレスは
                <br>どのようになりましたか？
            </div>
        </div>

        <div class="btn-container ui center aligned">
            <a class="btn-next huge ui button" href="dashboard.html">ホームへ</a>
        </div>
    </div>

</div>
</body>

<!-- Custom -->
<script src="../scripts/interaction.js"></script>
<script src="../scripts/light-image-method.js"></script>

</html>