#media-introduction {

}

#media-container {

  .media { // idはメディアにより固有
    width: 80%;
    margin: 100px auto;
    padding: 3em;

    h1 {
      text-align: center;
      border-bottom: 5px solid #f9dd91;
    }

    p {
      font-family: '凸版文久ゴシック', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 2.0em;
      margin: 50% auto;
      width: 70%;
    }

    p.p1 {
      margin: 20% auto 50% auto;
    }

    .btn-container {
      margin: 0 auto;
      text-align: center;
    }

    .btn-next {
      background: #f9dd91;
      cursor: grab;
    }

    .btn-next:active {
      cursor: grabbing;
    }

  }
}

#media-who-am-i {}
#media-what-can-i-do {}
#media-what-can-not-i-do {}


