#media-introduction {
  margin: 0 0 100px 0 !important;


  #top-message {
    background-image: url("../../images/media-introduction-leave-from-stress.jpeg");
    width: 100vw;
    height: 70vh;
    margin: 0 !important;
    background-size: cover;

    #top-message-text {
      width: 50%;
      font-size: 32px;
      text-align: left;
      line-height: 3em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      padding: 24px;
    }
  }

  #how-about-stress-management {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-fail-stress-management-dark.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px;

    #how-about-stress-management-header {
      margin-left: auto;
      width: 70%;
      font-size: 24px;
      text-align: right;
      line-height: 5em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #how-about-stress-management-text {
      margin-left: auto;
      width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  }


  #what-is-satcare {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-brain-inverted.png");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px;

    #what-is-satcare-header {
      width: 40%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #what-is-satcare-text {
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  }

  #what-user-do {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-sat-method2.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px;

    #what-user-do-header {
      margin: 0 auto;
      width: 41%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #what-user-do-text {
      margin: 0 auto;
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #what-user-do-step {
      border: none;
      padding: 5% 10%;
      min-width: 40%;
    }
  }



  #lets-do {
    margin: 100px 0;
    background: #f9efd2;
    width: 100vw;
    height: 100%;
    background-size: cover;
    padding: 24px;

    #lets-do-header {
      width: 100%;
      font-size: 24px;
      text-align: center;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .btn-container {
      margin: 0 auto;
      text-align: center;
    }

    .btn-next {
      background: #f9dd91;
      cursor: grab;
    }

    .btn-next:active {
      cursor: grabbing;
    }
  }


  #what-is-sat {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-munakata.png");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px;

    #what-is-sat-header {
      width: 40%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #what-is-sat-text {
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  }

  #what-is-light-image-method {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-light-image-method.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px;

    #what-is-light-image-method-header {
      margin-left: auto;
      width: 41%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #f3efe4;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #what-is-light-image-method-text {
      margin-left: auto;
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #f3efe4;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  }

}


