#main-visual-light-image-method {
  background-image: url("../../images/main-visual-light-image-method.png");
  width: 100%;
  height: 500px;
  margin: 0 !important;
  background-size: cover;

  #main-visual-text {
    font-size: 64px;
    text-align: center;
    line-height: 500px;
    color: #55454c;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
}

#light-image-method-container {
  .question-card {
    margin: 50% auto;

    .btn-down {
      display: block;
      margin: 50px auto 100px;
      width: 100px;

      .icon {
        margin: 0 !important;
      }
    }
  }


  #q1 {
    margin: 20% auto;
  }

  #q5 {
    .field {
      display: inline-block;
      width: 120px;

      textarea {
        overflow: hidden;
      }
    }
  }

  #q13 {
    margin: 20% auto;
  }

  .question {
    border: none !important;
    padding: 0 0;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.28571429em;
    text-transform: none;
    text-align: center;
    color: rgba(0, 0, 0, .87);
    display: block;
    width: 80%;
    border: 1px solid;
    margin: 30px auto;
  }

  .answer {
    max-height: 500px;
    width: 100%;
    text-align: center;

    .field {
      margin: 0 auto;
      width: 80%
    }
  }

  .btn-container {
    margin: 100px auto;
    text-align: center;

    .btn-next {
      background: #f9dd91;
      cursor: grab;
    }

    .btn-next:active {
      cursor: grabbing;
    }
  }


  .separation-bar {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b8b8b8;
  }

}


