
#stress-scored-method-container {
  #q1 {
    margin: 20% auto;
  }

  #q2 {
    margin: 20% auto;
    border: 1px solid #f9ecc0;
  }

  #q3 {
    margin: 20% auto;
    border: 1px solid #f9ecc0;

  }

  .btn-container {
    margin: 10% auto;
    text-align: center;
  }

  .btn-next {
    background: #f9dd91;
    cursor: grab;
  }

  .btn-next:active {
    cursor: grabbing;
  }

}
