#q2 {

  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-item {
    border: 1px solid #b8b8b8;
  }


  .grid-row {
    display: grid;
    grid-gap: 0;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
  }

  .answer-label.grid-item {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }

  .answer-value.grid-item {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }
}

#q3 {
  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-row {
    display: grid;
    justify-content: center;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;

    .stress-strength.grid-item {
      border: 1px solid #b8b8b8;
      text-align: center;
      grid-column:1;
    }
    .stress-answer.grid-item {
      border: 1px solid #b8b8b8;
      text-align: center;
      grid-column:2;
    }
    .stress-point.grid-item {
      border: 1px solid #b8b8b8;
      text-align: right;
      grid-column:3;
    }
  }


}