#main-visual-stress-scored-method {
  background-image: url("../../images/main-visual-stress-scored-method2.jpeg");
  width: 100%;
  height: 500px;
  margin: 0 !important;
  background-size: cover; }
  #main-visual-stress-scored-method #main-visual-text {
    font-size: 64px;
    text-align: center;
    line-height: 500px;
    color: #55454c;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }

#stress-scored-method-container .question {
  border: none !important;
  padding: 0 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.28571429em;
  text-transform: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 80%;
  border: 1px solid;
  margin: 30px auto; }

#stress-scored-method-container .answer {
  max-height: 500px;
  width: 100%;
  text-align: center; }
  #stress-scored-method-container .answer .field {
    margin: 0 auto;
    width: 80%; }

#stress-scored-method-container #q1 {
  margin: 20% auto; }

#stress-scored-method-container #q2 {
  margin: 20% auto 0 auto;
  border: 1px solid #f9ecc0; }

#stress-scored-method-container #q3 {
  margin: 20% auto;
  border: 1px solid #f9ecc0;
  padding: 30px; }
  #stress-scored-method-container #q3 #stress-scored-result-strength {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.7em;
    display: block; }
  #stress-scored-method-container #q3 #stress-scored-result-source {
    margin: 20px auto; }

#stress-scored-method-container .btn-container {
  margin: 100px auto;
  text-align: center; }
  #stress-scored-method-container .btn-container .btn-next {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
    #stress-scored-method-container .btn-container .btn-next i.icon {
      margin: 0 !important; }
  #stress-scored-method-container .btn-container .btn-next:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  #stress-scored-method-container .btn-container .btn-down {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
    #stress-scored-method-container .btn-container .btn-down i.icon {
      margin: 0 !important; }
  #stress-scored-method-container .btn-container .btn-down:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

#main-visual-light-image-method {
  background-image: url("../../images/main-visual-light-image-method.png");
  width: 100%;
  height: 500px;
  margin: 0 !important;
  background-size: cover; }
  #main-visual-light-image-method #main-visual-text {
    font-size: 64px;
    text-align: center;
    line-height: 500px;
    color: #55454c;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }

#light-image-method-container .question-card {
  margin: 50% auto; }
  #light-image-method-container .question-card .btn-down {
    display: block;
    margin: 50px auto 100px;
    width: 100px; }
    #light-image-method-container .question-card .btn-down .icon {
      margin: 0 !important; }

#light-image-method-container #q1 {
  margin: 20% auto; }

#light-image-method-container #q5 .field {
  display: inline-block;
  width: 120px; }
  #light-image-method-container #q5 .field textarea {
    overflow: hidden; }

#light-image-method-container #q13 {
  margin: 20% auto; }

#light-image-method-container .question {
  border: none !important;
  padding: 0 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.28571429em;
  text-transform: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 80%;
  border: 1px solid;
  margin: 30px auto; }

#light-image-method-container .answer {
  max-height: 500px;
  width: 100%;
  text-align: center; }
  #light-image-method-container .answer .field {
    margin: 0 auto;
    width: 80%; }

#light-image-method-container .btn-container {
  margin: 100px auto;
  text-align: center; }
  #light-image-method-container .btn-container .btn-next {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
  #light-image-method-container .btn-container .btn-next:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

#light-image-method-container .separation-bar {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b8b8b8; }

#media-introduction {
  margin: 0 0 100px 0 !important; }
  #media-introduction #q1 {
    background-image: url("../../images/media-introduction-leave-from-stress.jpeg");
    width: 100vw;
    height: 70vh;
    margin: 0 !important;
    background-size: cover; }
    #media-introduction #q1 #q1-text {
      width: 50%;
      font-size: 32px;
      text-align: left;
      line-height: 3em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      padding: 24px; }
  #media-introduction #q2 {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-fail-stress-management-dark.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px; }
    #media-introduction #q2 #q2-header {
      margin-left: auto;
      width: 70%;
      font-size: 24px;
      text-align: right;
      line-height: 5em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
    #media-introduction #q2 #q2-text {
      margin-left: auto;
      width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #f9f6d9;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
  #media-introduction #q3 {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-brain-inverted.png");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px; }
    #media-introduction #q3 #q3-header {
      width: 40%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      margin-left: -10px; }
    #media-introduction #q3 #q3-text {
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
  #media-introduction #q4 {
    margin: 100px 0;
    background-image: url("../../images/media-introduction-sat-method2.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    padding: 24px; }
    #media-introduction #q4 #q4-header {
      margin: 0 auto;
      width: 41%;
      min-width: 41%;
      font-size: 24px;
      text-align: left;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
    #media-introduction #q4 #q4-text {
      margin: 0 auto;
      width: 40%;
      min-width: 40%;
      font-size: 18px;
      text-align: left;
      line-height: 2em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
    #media-introduction #q4 #q4-step {
      border: none;
      padding: 9% 10%;
      min-width: 40%; }
  #media-introduction #q5 {
    margin: 100px 0;
    background: #f9efd2;
    width: 100vw;
    height: 100%;
    background-size: cover;
    padding: 24px; }
    #media-introduction #q5 #q5-header {
      width: 100%;
      font-size: 24px;
      text-align: center;
      line-height: 5em;
      color: #55454c;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
    #media-introduction #q5 .btn-container {
      margin: 0 auto;
      text-align: center; }
    #media-introduction #q5 .btn-next {
      background: #f9dd91;
      cursor: -webkit-grab;
      cursor: grab; }
    #media-introduction #q5 .btn-next:active {
      cursor: -webkit-grabbing;
      cursor: grabbing; }

#dashboard-container #dashboard-history {
  width: 80%;
  margin: 100px auto;
  padding: 3em; }
  #dashboard-container #dashboard-history h1 {
    text-align: center;
    border-bottom: 5px solid #f9dd91; }
  #dashboard-container #dashboard-history .history {
    width: 80%; }

#dashboard-container #dashboard-navigation {
  margin: 10% auto; }
  #dashboard-container #dashboard-navigation a {
    cursor: -webkit-grab;
    cursor: grab; }
  #dashboard-container #dashboard-navigation a:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  #dashboard-container #dashboard-navigation a:hover {
    background: #f8f9e2; }
  #dashboard-container #dashboard-navigation p {
    margin: 5px; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  height: auto; }

#header {
  background: #f9dd91; }

header.menu-bar .site-logo {
  margin: auto 10px; }

header.menu-bar .hamburger {
  font-size: 24px;
  margin: 8px; }

header.menu-bar ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f9ecc0; }

header.menu-bar ul.topnav li {
  float: left; }

header.menu-bar ul.topnav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white; }

header.menu-bar ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2; }

header.menu-bar ul.topnav li a.active {
  background-color: #da3c41; }

header.menu-bar ul.topnav li.right {
  float: right; }

@media screen and (max-width: 480px) {
  header.menu-bar ul.topnav li.right, header.menu-bar ul.topnav li {
    float: none; } }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.center-text {
  text-align: center; }

.center-block {
  margin: 0 auto; }

.separation-bar {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b8b8b8; }
