@charset "UTF-8";
#stress-scored-method-container .question {
  border: none !important;
  padding: 0 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.28571429em;
  text-transform: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 80%;
  border: 1px solid;
  margin: 30px auto; }

#stress-scored-method-container .answer {
  max-height: 500px;
  width: 100%;
  text-align: center; }
  #stress-scored-method-container .answer .field {
    margin: 0 auto;
    width: 80%; }

#stress-scored-method-container #q1 {
  margin: 20% auto; }

#stress-scored-method-container #q2 {
  margin: 20% auto 0 auto;
  border: 1px solid #f9ecc0; }

#stress-scored-method-container #q3 {
  margin: 20% auto;
  border: 1px solid #f9ecc0; }

#stress-scored-method-container .btn-container {
  margin: 100px auto;
  text-align: center; }
  #stress-scored-method-container .btn-container .btn-next {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
    #stress-scored-method-container .btn-container .btn-next i.icon {
      margin: 0 !important; }
  #stress-scored-method-container .btn-container .btn-next:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  #stress-scored-method-container .btn-container .btn-down {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
    #stress-scored-method-container .btn-container .btn-down i.icon {
      margin: 0 !important; }
  #stress-scored-method-container .btn-container .btn-down:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

#light-image-method-container .question-card {
  margin: 50% auto; }
  #light-image-method-container .question-card .btn-down {
    display: block;
    margin: 50px auto 100px;
    width: 100px; }
    #light-image-method-container .question-card .btn-down .icon {
      margin: 0 !important; }

#light-image-method-container #q1 {
  margin: 20% auto; }

#light-image-method-container #q13 {
  margin: 20% auto; }

#light-image-method-container .question {
  border: none !important;
  padding: 0 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.28571429em;
  text-transform: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 80%;
  border: 1px solid;
  margin: 30px auto; }

#light-image-method-container .answer {
  max-height: 500px;
  width: 100%;
  text-align: center; }
  #light-image-method-container .answer .field {
    margin: 0 auto;
    width: 80%; }

#light-image-method-container .btn-container {
  margin: 100px auto;
  text-align: center; }
  #light-image-method-container .btn-container .btn-next {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
  #light-image-method-container .btn-container .btn-next:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

#light-image-method-container .separation-bar {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b8b8b8; }

#media-container .media {
  width: 80%;
  margin: 100px auto;
  padding: 3em; }
  #media-container .media h1 {
    text-align: center;
    border-bottom: 5px solid #f9dd91; }
  #media-container .media p {
    font-family: '凸版文久ゴシック', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 2.0em;
    margin: 50% auto;
    width: 70%; }
  #media-container .media p.p1 {
    margin: 20% auto 50% auto; }
  #media-container .media .btn-container {
    margin: 0 auto;
    text-align: center; }
  #media-container .media .btn-next {
    background: #f9dd91;
    cursor: -webkit-grab;
    cursor: grab; }
  #media-container .media .btn-next:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

#dashboard-container #dashboard-history {
  width: 80%;
  margin: 100px auto;
  padding: 3em; }
  #dashboard-container #dashboard-history h1 {
    text-align: center;
    border-bottom: 5px solid #f9dd91; }
  #dashboard-container #dashboard-history .history {
    width: 80%; }

#dashboard-container #dashboard-navigation {
  margin: 10% auto; }
  #dashboard-container #dashboard-navigation a {
    cursor: -webkit-grab;
    cursor: grab; }
  #dashboard-container #dashboard-navigation a:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  #dashboard-container #dashboard-navigation a:hover {
    background: #f8f9e2; }
  #dashboard-container #dashboard-navigation p {
    margin: 5px; }

html {
  scroll-behavior: smooth; }

header.menu-bar .site-logo {
  margin: auto 10px; }

header.menu-bar .hamburger {
  font-size: 24px;
  margin: 8px; }

header.menu-bar ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f9ecc0; }

header.menu-bar ul.topnav li {
  float: left; }

header.menu-bar ul.topnav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white; }

header.menu-bar ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2; }

header.menu-bar ul.topnav li a.active {
  background-color: #da3c41; }

header.menu-bar ul.topnav li.right {
  float: right; }

@media screen and (max-width: 480px) {
  header.menu-bar ul.topnav li.right, header.menu-bar ul.topnav li {
    float: none; } }

.separation-bar {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b8b8b8; }
